/*******************************
	All Responsive Code
*******************************/

@media (max-width:991px){
    .main-menu ul.navbar-nav{
        background:rgba(0, 0, 0, 0.4);
        width: 100%;
        margin-top: 10px;
    }
    nav.main-menu ul li a {
        padding: 10px 0;
	}
	.header-content h1 {
		font-size: 52px;
    }
    .header-content p{
        font-size: 14px;
    }
    .counter-box {
        margin-bottom: 35px;
    }
    .blog-item {
        margin-bottom: 50px;
    }
}
@media(max-width:767px){
    .about-right h3 {
        margin-top: 30px;
    }
    .video-area .header-text h2 {
        font-size: 24px;
    }
    .skill-right h3 {
        margin-top: 21px;
    }
    .portfolio-item img {
        width: 100%;
    }
    .blog-item img {
        width: 100%;
    }
    
}
@media(max-width:576px){}